# Create final Breaking Bad dataframe

In [42]:
# imports
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
from sklearn.model_selection import cross_val_score, train_test_split, GridSearchCV

from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier

In [43]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.linear_model import LogisticRegression
import json

## Load data

In [44]:
bb1 = pd.read_csv('./df_csv/breakingbad.csv')

In [45]:
bb2 = pd.read_csv('./df_csv/breakingbad_monday.csv')

In [46]:
bb3 = pd.read_csv('./df_csv/breakingbad_tuesday.csv')

## Drop Unnamed column from each

In [47]:
bb1.drop(columns='Unnamed: 0', inplace=True)

In [48]:
bb2.drop(columns='Unnamed: 0', inplace=True)

In [49]:
bb3.drop(columns='Unnamed: 0', inplace=True)

## Create final df

In [50]:
bbfinal = pd.concat(objs=[bb1, bb2, bb3], ignore_index=True)

In [51]:
# check
bbfinal.head()

,author,created_utc,downs,num_comments,score,selftext,title,ups
0,Ashutosh1947,2019-07-07 12:03:45,0,6,188,NaN,Los pollos shifts towards noodles from chicken,188
1,Rykedan,2019-07-06 17:44:03,0,25,1875,NaN,Pretty cool. Thought you guys would appreciate...,1875
2,Burnnoticelover,2019-07-07 03:01:46,0,17,269,NaN,"The ending we got was perfect, but it would ha...",269
3,spillthetea13,2019-07-07 13:24:13,0,2,21,"It's like a kitchen nightmare episode, but ins...",Breaking bad movie idea,21
4,pretentiousiscool,2019-07-07 15:50:31,0,0,10,NaN,lmao,10

In [52]:
# check for duplicates
len(set(bbfinal.title))

815

In [53]:
# drop duplicates using title column
bbfinal.drop_duplicates(subset='title', inplace=True)

In [54]:
# reset index after dropping duplicates
bbfinal.reset_index(inplace=True)

In [55]:
# remove punctuation
bbfinal['title'] = bbfinal['title'].str.replace('[^\w\s]','')

In [56]:
# remove special character, replace with a space
bbfinal['selftext'] = bbfinal['selftext'].str.replace('\n', ' ')

In [57]:
# remove punctuation
bbfinal['selftext'] = bbfinal['selftext'].str.replace('[^\w\s]','')

In [58]:
# add colunmn of 1's
bbfinal['subreddit'] = pd.Series([1 for x in range(len(bbfinal.index))])

In [59]:
# drop index column
bbfinal.drop(columns='index', inplace=True)

In [60]:
# create column all_text by combining title and selftext columns
bbfinal['all_text'] = bbfinal['title'] + ' ' + bbfinal['selftext'].fillna('')

In [65]:
bbfinal.head()

,author,created_utc,downs,num_comments,score,selftext,title,ups,subreddit,all_text,word_count
0,Ashutosh1947,2019-07-07 12:03:45,0,6,188,NaN,Los pollos shifts towards noodles from chicken,188,1,Los pollos shifts towards noodles from chicken,72
1,Rykedan,2019-07-06 17:44:03,0,25,1875,NaN,Pretty cool Thought you guys would appreciated...,1875,1,Pretty cool Thought you guys would appreciated...,80
2,Burnnoticelover,2019-07-07 03:01:46,0,17,269,NaN,The ending we got was perfect but it would hav...,269,1,The ending we got was perfect but it would hav...,157
3,spillthetea13,2019-07-07 13:24:13,0,2,21,Its like a kitchen nightmare episode but inste...,Breaking bad movie idea,21,1,Breaking bad movie idea Its like a kitchen nig...,424
4,pretentiousiscool,2019-07-07 15:50:31,0,0,10,NaN,lmao,10,1,lmao,12

In [64]:
# create column that counts the number of words per post
bbfinal['word_count'] = bbfinal['all_text'].apply(lambda x: len(str(x.split(' '))))

In [66]:
bbfinal['word_count'].mean()

417.30306748466256

In [41]:
# write to csv
# bbfinal.to_csv('./df_csv/bbfinal.csv', index=False)

In [92]:
# bbfinal = pd.read_csv('./df_csv/bbfinal.csv')